<?xml version="1.0" ?>
<launch>
		<arg name="ifname" default="eth1"/>
		<arg name="device_name" default="ss"/>
    <node pkg="robot_io" type="soem_manager" name="gripper_action_server" output="screen">
		  <param name="ifname" value="$(arg ifname)" type="str"/>
		  <param name="device_name" value="$(arg device_name)" type="str"/>
		</node>
</launch>
