<?xml version="1.0"?>
<launch>
	<arg name="use_pcd_file" default="true"/>

		<!-- generate cloud -->
		<remap from="generated_cloud" to="/kinect/depth_registered/points"/>
		<node unless="$(arg use_pcd_file)" pkg="industrial_pcl_utilities" type="pcl_msg_generator_node" name="point_cloud_generator_node" output="screen">
			<rosparam command="load" file="$(find robot_pick_and_place)/config/ur5/cylinder_cloud_descriptions.yaml"/>
		</node>

		<!-- read pcd -->
		<remap from="cloud_pcd" to="/kinect/depth_registered/points"/>
		<node if="$(arg use_pcd_file)" pkg="pcl_ros" name="point_cloud_publisher" type="pcd_to_pointcloud" args="$(find robot_pick_and_place)/pcd/cylinders05.pcd 0.1">
			<param name="frame_id" value="/kinect_rgb_optical_frame"/>
		</node>

</launch>
